body {
    margin: 0;
	background-image: url('../assets/woodbg.jpeg');

	align-items: center;
    justify-content: center;
    
}


#container {
    width: 100vw;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;

    display: grid;

    grid-template-rows: 200px 500px 100px;

    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;

}

/* #container div {
    padding: 10px;
    border: 1px solid #000000;
} */

#header {
    grid-column-start:1 ;
    grid-column-end:2 ;
    color: white;
    font-size: 38px;

}

#footer {
    grid-column-start:1 ;
    grid-column-end:2 ;
    
    visibility: hidden

}


#box {
    width: 400px;
	height: 500px;

    background-color: white;
    border-radius: 18px;

	overflow: hidden;

    text-align: center;
	position: relative;

}


span {
	color: black;
}

.text{

	margin-top: 5px;
	border-radius: 100px;
	padding: 15px 15px;
	border: 1px solid #c6c6c6;
	width: 85%;

}

.button{

	margin-top: 5px;
	border-radius: 100px;
	background-color:darkolivegreen;
	padding: 15px 15px;
	/* border: 1px solid #c6c6c6; */
	width: 95%;
	color: white;

	font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.toggle-btn {
	appearance: none;
	width: 150px;
	height: 40px;
	border: 1px solid black;
	position: absolute;
	top: 35px;
	left: 30%;
	border-radius: 100px;
}

/* .toggle-btn::before{
	content: 'Signup';
	color: white;
	font-family: 'Quicksand', sans-serif;
    font-size: 18px;


	position: absolute;
	top:0;
	left: 0;
	width: 50%;
	height: 100%;
	background: peru;
	border-radius: 100px;

	display:grid;
	place-items: center;
	
	transition: 0.5s;
}

.toggle-btn:checked::before {
	content: 'Login';
	left: 50%;
}

.toggle-btn:checked ~ #signup {
	left: -101%;
}

.toggle-btn:checked ~ #login{
	left: 0;
} */